form {
    width: 400px;
    padding: 20px;
    margin: 100px auto;
    border-radius: 15px;
    background-color: #CD70F9;
}

form, fieldset {
    border: 0;
}

form fieldset label{
    display: block;
    color: #000000;
}

form fieldset input, textarea {
    width: 100%;
}